<div class="modal-header  pos-r" >
	<div class="row mt-20 mb-20">
		<div class="heading dark">
			<h3>Online Users</h3>
		</div>
	</div>
	<i class="fa fa-times pop-close csr-pointer" ng-click="cancel()"></i>
</div>
<div class="row">
	<div class="col-xs-2" ng-repeat="member in guild_members">
		<div class="games clearfix" ng-click="request_member(member.pk)">
			<div class="game--img">
				<img src="/static/images/profilepicture.png">
			</div>
			<div class="game--details">
				<h5 class="f-16 pt-5 pb-5 f-darkgray-dark f-12">{[member.username]}</h5>
			</div>
		</div>
	</div>
</div>
